<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8"/>
<title th:text="#{adduser}"></title>
</head>
<body>
<div align="right">
		<a th:href="@{/changelanguage?lang=zh-CN}">中文</a> 
		<a th:href="@{/changelanguage?lang=en-US}">English</a>
		&nbsp;&nbsp;&nbsp; <span>移动端</span>
		</div>
<div align="center">
<h1 th:text="#{adduser}"></h1>
<form action="/saveadduser"  th:object="${dto}" method="POST">
<table   align="center">
  <tr>
  	<td><span th:text="#{id}" ></span></td>
  <td><input th:field="*{id}" name="id" id="id" th:value="${dto.id}"></input></td>
  </tr>
  <tr>
					<td><span th:text="#{name}"></span></td>
					<td><input th:field="*{name}" name="name" id="name" th:value="${dto.name}"></input></td>
  </tr>
  <tr>
  <td><span th:text="#{age}"></span></td>
 <td> <input th:field="*{age}" name="age" id="age" th:value="${dto.age}"></input></td>
  </tr>
  <tr>
  <td><span th:text="#{sex}"></span></td>
 <td> <input th:field="*{sex}"  id="man" type="radio" value="男" name="sex" ><span th:text="#{man}"></span></input>  
  <input th:field="*{sex}" id="woman" type="radio" value="女" name="sex" ><span th:text="#{woman}"></span></input></td>
 </tr>
 <tr>
  <td><span th:text="#{tel}"></span></td>
  <td><input th:field="*{phoneNumber}" name="phoneNumber" id="phoneNumber" th:value="${dto.phoneNumber}"></input></td>
 </tr>
 <!--  兴趣爱好：<input th:field="*{xingqu}" type="checkbox" name="xingqu" value="篮球">篮球</input>
  		  <input th:field="*{xingqu}" type="checkbox" name="xingqu" value="KTV唱歌">KTV唱歌</input>
 	      <input th:field="*{xingqu}" type="checkbox" name="xingqu" value="保龄球">保龄球</input><br/> -->
 	</table>      
 	      <input  type="submit"></input>
</form>
</div>
</body>
</html>