<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8"/>
<title>Insert title here</title>
<script type="text/javascript">
 function checkdata(){
	 
	  var name = document.getElementById("name").value; 
	  
	  if(name==""){
		  alert("姓名不能为空！");
		  return false;
		  }
	  
	  var phoneNumber = document.getElementById("phoneNumber").value.length;
	  if(phoneNumber!=11){
		  alert("手机号必须是11位！");
		  return false;
		  }
  }
</script>
</head>
<body>

<form action="/saveuserfrom" method="post"  onsubmit="return checkdata()" >
姓名：<input type="text" id="name" name="name"></input><br/>
年龄：<input type="text" id="age" name="age"></input><br/>
电话：<input type="text" id="phoneNumber" name="phoneNumber"></input><br/>
<input value="提交" type="submit" />
</form>

</body>
</html>